@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500;700&display=swap');

/* GENERAL RULE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 400;
}

/* --- UTILITY --- */

.title_big {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.title_small {
    font-weight: 500;
}

.split {
    background-color: red;
    height: 5px;
    width: 100%;
}

.margin_topBottom_20 {
    margin: 20px 0;
}

.padding_topBottom_20 {
    padding: 0 20px;
}

.hidden {
    display: none;
} 

.show {
    display: block;
}

/* ---------- Page ---------- */

.page {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

.container {
    padding: 0 100px;
}

.list-operation {
    margin: 2% 0 0 5%;
}

/* --- Section button + list --- */

.button {
    text-align: center;
}

.list ul {
    list-style: none;
    text-align: center;
}